.home-screen {
    background-color: #eeb8d5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .home-screen .div {
    background-color: #eeb8d5;
    width: 1728px;
    height: 1117px;
    position: relative;
  }
  
  .home-screen .overlap {
    position: absolute;
    width: 506px;
    height: 118px;
    top: 107px;
    left: 114px;
  }
  
  .home-screen .user-circle {
    position: absolute;
    width: 120px;
    height: 118px;
    top: 0;
    left: 0;
  }
  
  .home-screen .overlap-group {
    position: relative;
    width: 100px;
    height: 98px;
    top: 10px;
    left: 10px;
    background-image: url(./img/subtract.svg);
    background-size: 100% 100%;
  }
  
  .home-screen .rectangle {
    height: 98px;
    border-radius: 56px;
    border: 1px solid;
    border-color: var(--fillicon);
  }
  
  .home-screen .text-wrapper {
    position: absolute;
    width: 196px;
    top: 14px;
    left: 120px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #4d4848;
    font-size: 40px;
    letter-spacing: 0;
    line-height: 28px;
  }
  
  .home-screen .text-wrapper-2 {
    position: absolute;
    width: 386px;
    top: 68px;
    left: 120px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 40px;
    letter-spacing: 0;
    line-height: 28px;
  }
  
  .home-screen .overlap-2 {
    position: absolute;
    width: 733px;
    height: 114px;
    top: 590px;
    left: 114px;
    border-radius: 30px;
  }
  
  .home-screen .rectangle-2 {
    position: absolute;
    width: 733px;
    height: 114px;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-radius: 30px;
  }
  
  .home-screen .shop-duotone-line {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 14px;
    left: 20px;
  }
  
  .home-screen .text-wrapper-3 {
    position: absolute;
    width: 253px;
    top: 33px;
    left: 163px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home-screen .overlap-3 {
    position: absolute;
    width: 733px;
    height: 114px;
    top: 753px;
    left: 114px;
    border-radius: 30px;
  }
  
  .home-screen .bag-alt-duotone {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 7px;
    left: 20px;
  }
  
  .home-screen .text-wrapper-4 {
    position: absolute;
    width: 187px;
    top: 26px;
    left: 163px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .home-screen .overlap-4 {
    position: absolute;
    width: 695px;
    height: 353px;
    top: 107px;
    left: 938px;
    background-color: #ffffff;
    border-radius: 30px;
  }
  
  .home-screen .text-wrapper-5 {
    position: absolute;
    width: 199px;
    top: 33px;
    left: 248px;
    font-family: "Inter-ExtraBold", Helvetica;
    font-weight: 800;
    color: #000000;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .home-screen .text-wrapper-6 {
    position: absolute;
    width: 386px;
    top: 151px;
    left: 155px;
    font-family: "Inter-ExtraBold", Helvetica;
    font-weight: 800;
    color: #000000;
    font-size: 64px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .home-screen .overlap-5 {
    position: absolute;
    width: 523px;
    height: 51px;
    top: 317px;
    left: 219px;
    background-color: #ffffff;
    border-radius: 30px;
  }
  
  .home-screen .search-alt-light {
    position: absolute;
    width: 43px;
    height: 44px;
    top: 3px;
    left: 15px;
  }
  
  .home-screen .overlap-6 {
    position: relative;
    width: 28px;
    height: 29px;
    top: 8px;
    left: 8px;
  }
  
  .home-screen .ellipse {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 0;
    border-radius: 11.75px/12px;
    border: 1px solid;
    border-color: var(--fillicon);
  }
  
  .home-screen .img {
    position: absolute;
    width: 6px;
    height: 6px;
    top: 6px;
    left: 6px;
  }
  
  .home-screen .vector {
    position: absolute;
    width: 6px;
    height: 6px;
    top: 23px;
    left: 22px;
  }
  
  .home-screen .sort-arrow-light {
    position: absolute;
    width: 39px;
    height: 39px;
    top: 6px;
    left: 458px;
  }
  
  .home-screen .text-wrapper-7 {
    position: absolute;
    width: 154px;
    top: 517px;
    left: 126px;
    font-family: "Inter-ExtraBold", Helvetica;
    font-weight: 800;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .home-screen .text-wrapper-8 {
    position: absolute;
    width: 85px;
    top: 517px;
    left: 762px;
    font-family: "Inter-ExtraBold", Helvetica;
    font-weight: 800;
    color: #1b44b0;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .home-screen .refund-back {
    position: absolute;
    width: 88px;
    height: 88px;
    top: 983px;
    left: 751px;
  }
  
  .home-screen .refund-forward {
    position: absolute;
    width: 88px;
    height: 88px;
    top: 979px;
    left: 888px;
  }
  